
<div class=" about-introduce" style="background: #f5f5f5;">
    <div class="row">
        <div class="col-md">
            <div class="list-social m-5">
                <a href=""><i class="bi bi-facebook me-3"></i></a>
                <a href=""><i class="bi bi-youtube me-3"></i></a>
                <a href=""><i class="bi bi-twitter me-3"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>

            </div>
        </div>
        <div class="col-md">
            <h5 style="margin-top: 15px; font-style: bold;">Nhận tin mới từ Pandora </h5>
            <p>Đăng kí ngay để nhận thông tin mới nhất về khuyến mãi, sự kiện, offer... từ Pandora.</p>
            <input type="email" class="form-email" style="border: #000 solid 1px; width: 80%" id="exampleFormControlInput1" placeholder="Nhập email của bạn">
            <button class="bg-dark" style="width:50px; height:40px"><i class="bi bi-chevron-right text-light" ></i></button>
        </div>

    </div>
</div>

<footer class="pt-5" style="background: #f5f5f5;width: 100%;">
	<div class="container pt-3">
        <div class="row">
            <div class="col-md mt-2">
                <h1 class="text-footer">Giới thiệu</h1>
                <ul class="list-unstyled">
                    <li><a href="">Về Pandora</a></li>
                    <li><a href="">Câu chuyện Pandora</a></li>
                    <li><a href="">Về Tập Đoàn Norbreeze</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md mt-2">
                <h1 class="text-footer">Khám phá Pandora</h1>
                <ul class="list-unstyled">
                    <li><a href="">Charms</a></li>
                    <li><a href="">Vòng tay</a></li>
                    <li><a href="">Hoa tai</a></li>
                    <li><a href="">Dây chuyền</a></li>
                    <li><a href="">Nhẫn</a></li>
                    <li><a href="">Khuyến mãi</a></li>
                    <li><a href="">Deal</a></li>
                </ul>
            </div>
            <div class="col-md mt-2">
                <h1 class="text-footer">Điều khoản và dịch vụ</h1>
                <ul class="list-unstyled">
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Chính sách thanh toán</a></li>
                    <li><a href="">Chính sách giao nhận</a></li>
                    <li><a href="">Chính sách đổi hàng</a></li>
                    <li><a href="">Chính sách bảo quản</a></li>
                </ul>
            </div>
            <div class="col-md mt-2">
                <h1 class="text-footer">Hệ thống cửa hàng</h1>
                <ul class="list-unstyled">
                    <li><a href="">Hồ Chí Minh</a></li>
                    <li><a href="">Hà Nội</a></li>
                    <li><a href="">Hệ thống Pandora toàn quốc</a></li>
                </ul>
            </div>
            <div class="col-md mt-2">
                <h1 class="text-footer">Giao hàng</h1>
                <ul class="list-unstyled">
                <li><a href="">VNPost</a></li>
                    <li><a href="">Nhất tín Logistics</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

    <div class="" style="background: #f5f5f5;">
        <div class=" list-footer me-5 ">
            <div class="ft-last col-md-6">
                <p style="margin-top: 15px; margin-left: 130px; font-size: 15px;">© Pandora Jewelry, LLC. All rights reserved. </p>
            </div>
            <div class="ft-bct col-md-6 me-5">
                <img class="me-5" src="" alt="">
            </div>
        </div>
    </div>