{#$id = $_GET['id'];#}
{#$sql = "select products.*, category_child.name as category_name, sizes.name AS name_size#}
{#from products#}
{#join category_child#}
{#on category_child.id = products.category_child_id#}
{#left join product_size#}
{#on product_size.product_id = products.id#}
{#left JOIN sizes#}
{#ON product_size.size_id = sizes.id#}
{#where products.id = '$id'";#}
{#$result = mysqli_query($connect, $sql);#}
{#$each = mysqli_fetch_array($result);#}
{#$category_id = $each['category_child_id'];#}
{#$sql = "select * from products#}
{#  where category_child_id = '$category_id'";#}
{#$result_category = mysqli_query($connect, $sql);#}
{##}
{#$sql = "select sizes.* from sizes#}
{#    join product_size#}
{#    on product_size.size_id = sizes.id#}
{#    where product_size.product_id = '$id' and product_size.quantity > 0";#}
{#$result_size = mysqli_query($connect, $sql);#}

{% extends 'app/layout/master.html' %}
{% load humanize %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/app/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/css/product.css' %}">
{% endblock %}
{% block content %}
    <div class="content-top mt-5">
        <p class="mt-1">Miễn phí vận chuyển toàn bộ đơn hàng</p>

    </div>

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb m-2">
            <li class="breadcrumb-item"><a href="{% url 'app:index' %}">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Tất cả sản phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <div class="product">
        <div class="product-content row">
            <div class="product-content-left col-6">
                <img class="image-img" src="{{ product.image.url }}"/>
            </div>

            <div class="product-content-right col-6">
                <div class="product-content-right-name">
                    <h1>{{ product.name }}</h1>

                </div>
                <div class="product-price">
                    <p class="line-price">
                        <span class="product-content-right-name price-pro p-2" itemprop="price" content="220000">
                            {{ product.price|intcomma }}&#8363
                        </span>
                    </p>
                </div>
                <hr>
                {% if product.status != 0 %}
                    <form action="{% url 'app:add_to_cart' product.id %}" method="POST" id="form-add-to-cart">
                        {% csrf_token %}
                        <div class="product-select-swatch">
                            <div class="product-select-swatch-text">
                                <p>Kích Thước:</p>
                            </div>

                            <div class="select-swap-size">
                                {% if sizes.all %}
                                    {% for size in sizes %}
                                        <div class="data-one">
                                            <input type="radio" id="size-{{ forloop.counter }}" name="size"
                                                   value="{{ size.id }}" class="input-opt">
                                            <label for="size-{{ forloop.counter }}" class="sd">{{ size.name }}
                                                cm</label>

                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-danger">Hết hàng</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="product-select-swatch">
                            <div class="product-select-swatch-text">
                                <p>Màu sắc</p>
                            </div>
                            <div class="select-swap">
                                <div class="data-one">
                                    <input type="text" name="color" value="{{ product.color }}"
                                           class="input-opt">
                                    <label for="swatch-19" class="select-color">
                                        {{ product.color }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="product-select-swatch">
                            <div class="product-select-swatch-text">
                                <p>Chất liệu</p>
                            </div>
                            <div class="select-swap">
                                <div class="data-one">
                                    <input type="text" name="material" value="{{ product.material }}"
                                           class="input-opt">
                                    <label for="swatch-19" class="select-material">
                                        {{ product.material }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <span id="sold-out"></span>
                        <hr>
                        <div class="product-actions">
                            <button type="submit" id="AddToCart" class="btnAddtocart">Thêm vào giỏ</button>
                        </div>
                    </form>
                {% else %}
                    <h1>Sản phẩm đã ngừng bán!</h1>
                {% endif %}
            </div>

        </div>

        <div class="col-md-12 policy  mt-3" style="display: flex">
            <div class="col-md-2 ms-5" style="border-right: solid #d78ac8 1px;">
                <p>Chính sách áp dụng một đổi một trong vòng 15 ngày kể từ ngày nhận hàng và chỉ đổi duy nhất 01
                    lần.</p>
            </div>
            <div class="col-md-2 ms-3" style="border-right: solid #d78ac8 1px;">
                <p>Miễn phí vận chuyển</p>
            </div>
            <div class="col-md-2 ms-3" style="border-right: solid #d78ac8 1px;">
                <p>Vệ sinh, làm sạch sản phẩm miễn phí</p>
            </div>
        </div>

        <div class="product-tab mt-5">
            <div class="tab mt-3">
                <button class="tablinkss">Thông tin sản phẩm</button>

            </div>
            <div class="content-product-tab">
                <div id="Content" class="tablinks">
                    {{ product.description }}
                </div>
                <div class="content-detail mt-2">
                    <div class="">Bộ sưu tập: Pandora Moments</div>
                    <div class="">Mã sản phẩm: {{ product.id }}</div>
                    <div class="">Chất liệu: {{ product.material }}</div>
                    <div class="">Màu sắc: {{ product.color }}</div>
                </div>
            </div>
        </div>

    </div>

    <div class=" policy-last ms-5">
        <ul class="list-policy ms-5 mt-2" style="display: flex">
            <li class="">
                <h4>Chính sách đổi hàng</h4>
                <p>Chính sách đổi hàng chỉ áp dụng cho các sản phẩm bị lỗi kĩ thuật và là hàng nguyên giá hoặc giảm
                    giá dưới 20%. Chính sách áp dụng một đổi một trong vòng 15 ngày kể từ ngày nhận hàng và chỉ đổi
                    duy nhất 01 lần.</p>
            </li>
            <li class="">
                <h4>Tặng quà</h4>
                <p>Bạn muốn gửi tặng trang sức Pandora đến người đặc biệt? Chỉ cần chọn sản phẩm bạn muốn tặng, nhân
                    viên CSKH của chúng tôi sẽ tự tay gói quà và viết thông điệp bạn muốn gửi đến người nhận quà.
                    Chỉ cần ghi chú lên đơn hàng khi đặt hàng bạn nhé! Pandora sẽ liên hệ bạn ngay!</p>
            </li>
            <li class="">
                <h4>Miễn phí vận chuyển</h4>
                <p>Pandora miễn phí giao hàng trên toàn quốc với mọi giá trị đơn hàng.</p>
            </li>
            <li class="">
                <h4>Cách thức bảo quản</h4>
                <p>Nên vệ sinh sản phẩm bằng bộ vệ sinh sản phẩm chuyên dụng của Pandora và sau khi sử dụng vui lòng
                    vệ sinh, bảo quản trong hộp kín để tránh tiếp xúc với không khí và tránh bị oxi hóa.</p>
            </li>
        </ul>
    </div>

    <div id="hotline">
        <a href="tel:0333135698" id="yBtn">
            <i class="bi bi-telephone-fill"></i>
        </a>
        <div class="text-quotes">
            <a href="tel:0333135698">0333135698</a>
        </div>

    </div>

{% endblock %}

{% block js %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    {#<script type="text/javascript" src="./assets/js/jquery.zoom.min.js"></script>#}
    <script>
        $(document).ready(function () {
            {#$('.image-img')#}
            {#    .wrap('<span style="display:inline-block"></span>')#}
            {#    .css('display', 'block')#}
            {#    .parent()#}
            {#    .zoom({#}
            {#        magnify: 1.8#}
            {#    });#}
            

            $('.sd').click(function () {
                $('.sd').removeClass('active');
                $(this).addClass('active');
            });

            $('.sd:first').addClass('active').is(":checked");
            $('.input-opt:first').attr('checked', 'checked');
        });
    </script>

    <script src="{% static 'app/js/app.js' %}"></script>
    <script src="{% static 'app/js/product.js' %}"></script>
{% endblock %}