{% extends 'app/layout/master.html' %}
{% load humanize %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/profile.css' %}">
{% endblock css %}

{% block content %}
    <section id="page-content">
        <div class="content-header">
            <h1>Tài Khoản Của Bạn</h1>
        </div>

        <div class="content-grid">
            <div class="user_inf">
                <h2>Thông Tin Tài Khoản</h2>
                <h3>Họ và tên: {{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-address"><a href="{% url 'app:update_profile' %}">Sửa thông tin</a></p>
            </div>
            <div class="his_tran mt-2">
                <h2>Lịch Sử Mua Hàng</h2>
                <p
                        {% if order_list %}
                            style="display:none;"
                        {% else %}
                            style="display:block;"
                        {% endif %}
                >Bạn chưa đặt mua sản phẩm
                </p>
                <table class="table table-borderless"
                        {% if order_list %}
                       style="display:table;"
                        {% else %}
                       style="display:none;"
                        {% endif %}
                >
                    <thead class="table-shopping">
                    <tr>
                        <th scope="col" class="order-shopping">Đơn hàng</th>
                        <th scope="col" class="time-shopping">Thời gian đặt</th>
                        <th scope="col" class="total-shopping">Tổng tiền</th>
                        <th scope="col" class="stt-shopping">Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in order_list %}
                        <tr>
                            <td class="order-shopping">{{ order.id }}</td>
                            <td class="time-shopping">{{ order.created_at }}</td>
                            <td class="total-shopping">{{ order.total|intcomma }}&#8363
                            </td>
                            <td class="stt-shopping">{{ order.status_label }}</td>
                            {% if order.status == 1 %}
                                <td class="sttt-shopping">
                                    <a class="detail-txt" onclick="update_order({{ order.id }}, 5, {{ user.id }})">Hủy
                                        đơn</a>
                                </td>
                            {% endif %}
                            {% if order.status == 2 %}
                                <td class="sttt-shopping">
                                    <a class="detail-txt" onclick="update_order({{ order.id }}, 4, {{ user.id }})">Hoàn
                                        thành</a>
                                </td>
                            {% endif %}
                            <td class="sttt-shopping">
                                <a class="detail-txt" href="{% url 'app:order_detail' order.id %}">Xem chi tiết</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div id="hotline">
        <a href="tel:0333135698" id="yBtn">
            <i class="bi bi-telephone-fill"></i>
        </a>
        <div class="text-quotes">
            <a href="tel:0333135698">0333135698</a>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        $(document).ready(function () {
            $('.btn-menu').click(function () {
                $('.navbar-vertical-mobile').toggle("fast");
                $('.header__navbar-overlay').toggle("fast");
            });

        })

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function update_order(id, status, user_id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Bạn có chắc chắn?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Uy tín',
                cancelButtonText: 'Hủy',
                reverseButtons: true,
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "{% url 'app:update_status_order' %}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            id,
                            status,
                            user_id,
                        },
                        headers: {'X-CSRFToken': csrftoken}
                    })
                        .done(function (res) {
                            console.log(res)
                            if (res === 'Success') {
                                res = ''
                            }
                            swalWithBootstrapButtons.fire(
                                'Đã cập nhật thành công!',
                                res
                            )
                            window.setTimeout('location.reload()', 1000);
                        });

                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Đã hủy thành công!',
                        'Safe :)',
                        'error'
                    )
                }
            })
        }

    </script>
    <script src="{% static 'app/js/app.js' %}"></script>
{% endblock js %}